extends layout.pug 

block number1
  if error
    p.error Please input your task!
  if success
    p.success Your task was added!

  if deleted
    p.success Deleted!
  form.form(action='/add' method='POST')
    input.input(type='text' placeholder='Please add your tasks...' name="todo")
    button.btn Add
 
 div.todos
   if todos.length
     each todo in todos  
       p.todo  
         span #{ todo.description }
         a.delete(href=`/${ todo.id }/delete') Delete
    else
      p.todo No tasks are available



