* {
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}


.wrapper {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center;
    font-size: 4rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
   display: inline-block; 
   padding: 10px;
   font-size: 1.5rem;
   width: 80%;
   border: 1px solid rgb(122, 16, 16);
}


.btn {
    display: inline-block; 
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 20%;
    border: none;
    background: rgb(44, 41, 230);
    color: cornsilk;
 }